<div role="main">

  <div id="header">
    <div class="container_home">
      <h1> These are the </br> Bike Racks Near You </h1>
    </div>
  </div>




  <h2> Import <h2>
    <%= form_tag import_bike_parking_spots_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
 <% end %>

  <div class="line"></div>

</div>


