.all_bike_parking_spots {
  font-size: 100%;
  line-height: 3em;
  text-align: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background: #e5e6d6;
  th {
    font-size: 150%;
    font-weight: bold;
    padding-top: 10px;
  }
  td {
    border: 1px solid #CCC;
    padding: 0 0.5em;
  }
  td:first-child {
    width: 202px;
  }
  td+td {
    border-left: 1px solid #CCC;
    text-align: center;
  }
  
}

.page_links {
  font-size: 140%;
  line-height: 2em;
  background: #03a678;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
}




