#main {
  background-color: #f2f1eb;
}

.container {
  background: #025950;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 14% 0;
  margin: 0px auto 0px auto;
}

p {
  margin: 20px;
  text-align: center;
  width: 100%;
}

div.info {
  font-family: "Raleway", sans-serif;
  padding-left: 20px;
}


